<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:metadata>
	<f:viewAction action="#{priceHistoryController.reset}" />
</f:metadata>

<ui:composition template="../layout.xhtml">

	<ui:define name="content">
		<h:form id="priceHistoryForm">
			<p:panel header="Price Details">
				<h:panelGrid columns="2">

					<p:outputLabel for="product" value="Product: " />
					<p:selectOneMenu id="product"
						value="#{priceHistoryController.price.productType}"
						converter="#{productTypeConverter}" var="s" filter="true"
						filterMatchMode="contains" showCheckbox="true" required="true">
						<f:selectItems value="#{priceHistoryController.productTypes}"
							var="per" itemLabel="#{per.label}" itemValue="#{per}" />
						<p:column>
							<h:outputText value="#{s.label}" />
						</p:column>>
					</p:selectOneMenu>

					<p:outputLabel for="price" value="Price: " />
					<p:inputNumber id="price"
						value="#{priceHistoryController.price.price}" required="true" />

					<p:outputLabel for="state" value="State: " />
					<p:selectOneMenu id="state"
						value="#{priceHistoryController.price.state}"
						converter="#{stateTypeConverter}" var="s" filter="true"
						filterMatchMode="contains" showCheckbox="true" required="true">
						<f:selectItems value="#{priceHistoryController.stateTypes}"
							var="per" itemLabel="#{per.eventName}" itemValue="#{per}" />
						<p:column>
							<h:outputText value="#{s.eventName}" />
						</p:column>>
					</p:selectOneMenu>

					<p:outputLabel for="city" value="City: " />
					<p:inputText id="city" value="#{priceHistoryController.price.city}"
						required="true" />

					<h:commandButton value="Save"
						action="#{priceHistoryController.save}" />
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
</html>
