<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:viewAction action="#{priceHistoryController.resetList}" />
</f:metadata>

<ui:composition template="../layout.xhtml">

	<ui:define name="content">
		<h:form id="form">
			<p:panel header="Prices List">
				<p:dataTable id="table" var="price"
					value="#{priceHistoryController.prices}" rows="10" paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15">
					<p:column>
						<f:facet name="header"># Id</f:facet>
						<h:outputText value="#{price.id}" />
					</p:column>

					<p:column>
						<f:facet name="header">Registration date</f:facet>
						<h:outputText id="registrationDate"
							value="#{price.registrationDate}">
							<f:converter binding="#{localDateTimeConverter}" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">state</f:facet>
						<h:outputText value="#{price.state}" />
					</p:column>

					<p:column>
						<f:facet name="header">City</f:facet>
						<h:outputText value="#{price.city}" />
					</p:column>

					<p:column>
						<f:facet name="header">Product</f:facet>
						<h:outputText value="#{price.productType}" />
					</p:column>

					<p:column>
						<f:facet name="header">Price</f:facet>
						<h:outputText value="#{price.price}" />
					</p:column>

					<p:column>
						<f:facet name="header">Action</f:facet>
						<h:commandButton id="delete-button"
							action="#{priceHistoryController.delete(price.id)}" value="Delete" />
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
</html>
