<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:viewAction action="#{userController.resetList}" />
</f:metadata>

<ui:composition template="../layout.xhtml">

	<ui:define name="content">
		<h:form id="form">
			<p:panel header="Users List">
				<p:dataTable id="table" var="user" value="#{userController.users}"
					rows="10" paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15">
					<p:column>
						<f:facet name="header"># Id</f:facet>
						<h:outputText value="#{user.id}" />
					</p:column>

					<p:column>
						<f:facet name="header">Name</f:facet>
						<h:outputText value="#{user.name}" />
					</p:column>

					<p:column>
						<f:facet name="header">Email</f:facet>
						<h:outputText value="#{user.email}" />
					</p:column>

					<p:column>
						<f:facet name="header">Action</f:facet>
						<h:commandButton id="delete-button"
							action="#{userController.delete(user.id)}" value="Delete" />
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
</html>
