<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:metadata>
	<f:viewAction action="#{userController.reset}" />
</f:metadata>

<ui:composition template="../layout.xhtml">

	<ui:define name="content">
		<h:form id="userForm">
			<p:panel header="User Details">
				<h:panelGrid columns="2">
					<p:outputLabel for="name" value="Name: " />
					<p:inputText id="name" value="#{userController.user.name}"
						required="true" />
					<p:outputLabel for="email" value="Email: " />
					<p:inputText id="email" value="#{userController.user.email}"
						required="true">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>
					<p:outputLabel for="password" value="Password: " />
					<p:inputText id="password" value="#{userController.user.password}"
						required="true" />
					<p:outputLabel for="permission" value="Permissions: " />
					<p:selectManyMenu id="permission"
						value="#{userController.user.permissions}"
						converter="#{permissionConverter}" var="s" filter="true"
						filterMatchMode="contains" showCheckbox="true"
						style="width:500px;" required="true">
						<f:selectItems value="#{userController.permissions}" var="per"
							itemLabel="#{per.description}" itemValue="#{per}" />
						<p:column>
							<h:outputText value="#{s.description}" />
						</p:column>
					</p:selectManyMenu>
					<h:commandButton value="Save" action="#{userController.save}" />
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
</html>
