<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../layout.xhtml">

	<ui:define name="content">
		<h:form id="reportForm">
			<p:panel header="Report Type">
				<h:panelGrid columns="2">
					<p:outputLabel for="type" value="Type: " />
					<p:selectOneMenu id="type" value="#{reportController.type}"
						style="width:400px" required="true">
						<f:selectItem itemLabel="Select One" itemValue="null" />
						<f:selectItem
							itemLabel="Avg prices of commercial operations by city"
							itemValue="1" />
						<f:selectItem
							itemLabel="Avg prices of commercial operations by flag"
							itemValue="2" />
						<f:selectItem itemLabel="Avg price history by city" itemValue="3" />
						<f:selectItem itemLabel="Commercial operations by date"
							itemValue="4" />
						<f:selectItem itemLabel="Commercial operations by flag"
							itemValue="5" />
						<f:selectItem itemLabel="Commercial operations by region"
							itemValue="6" />
					</p:selectOneMenu>
					<h:commandButton value="Generate"
						action="#{reportController.generate}" />
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
</html>
